<config>    
    <modules>
        <Splurgy_Embeds>
            <version>0.1.0</version>
        </Splurgy_Embeds>
    </modules>
    <frontend>
        <routers>
            <embeds>
                <use>standard</use>
                <args>
                    <module>Splurgy_Embeds</module>
                    <frontName>splurgy</frontName>
                </args>
            </embeds>
        </routers>  
        <layout>
            <updates>
                <embeds>
                    <file>splurgy.xml</file>
                </embeds>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <embeds>
                <class>Splurgy_Embeds_Block</class>
            </embeds>
        </blocks>
        <helpers>
            <embeds>
                <class>Splurgy_Embeds_Helper</class>
            </embeds>
        </helpers>
        <models>
            <embeds>
                <class>Splurgy_Embeds_Model</class>
            </embeds>
        </models>
    </global>   
    <admin>
        <routers>
            <the_name_of_this_element_is_not_important_it_should_be_unique>
                <use>admin</use>
                <args>
                    <module>Splurgy_Embeds</module>
                    <frontName>splurgy</frontName>
                </args>
            </the_name_of_this_element_is_not_important_it_should_be_unique>
        </routers>
        <!-- default admin design package and theme -->
        <design>
            <package>
                <name>base</name>
            </package>
            <theme>
                <default>default</default>
            </theme>
        </design>
    </admin>
    <adminhtml>
        <menu>
            <splurgy translate="title" module="embeds">
                <title>Splurgy</title> 
                <sort_order>9999</sort_order>
                <children>
                    <settings module="embeds">
                        <title>Power Switches</title> 
                        <action>splurgy/index/settings</action>
                    </settings>
                </children>
                <!--
                <children>
                    <analytics>
                        <title>Analytics</title> 
                        <action>splurgy/index/analytics</action>
                    </analytics>
                </children>
                -->
            </splurgy>
        </menu> 
        <layout>
            <updates handle="index_settings">
                <embeds>
                    <file>splurgy.xml</file>
                </embeds>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <splurgy_save_product_data>
                        <type>singleton</type>
                        <class>embeds/observer</class>
                        <method>saveProductTabData</method>
                    </splurgy_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <embeds_options>
                                            <title>Store Hello World Module Section</title>
                                        </embeds_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>