<?xml version="1.0"?>
<config>

    <tabs>
        <splurgy translate="label" module="embeds">
            <label>Splurgy</label>
            <sort_order>300</sort_order>
        </splurgy>
    </tabs>
    
    <sections>
        <embeds_options translate="label" module="embeds">
            <label>Setup Token</label>
            <tab>splurgy</tab>
            <frontend_type>text</frontend_type>
            <sort_order>20</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <setup_token>
                    <label>Token Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <token translate="label">
                            <label>Token</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[
                            Your token can be found in your <a href="https://offers.splurgy.com/dashboard">Splurgy Control Panel</a> Click <b>Channel</b> in the navigation bar, and find the channel token that you want the widget to take.
                            ]]></comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <backend_model>Splurgy_Embeds_Model_Token</backend_model>
                        </token>
                    </fields>
                </setup_token>
                <delete_token>
                    <label>Delete Token</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <token translate="label">
                            <frontend_type>button</frontend_type>
                            <frontend_model>Splurgy_Embeds_Block_Deletetoken</frontend_model>
                            <value>button</value>
                            <comment><![CDATA[
                            Your offers will not show up after deleting your token.
                            ]]></comment>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <backend_model>Splurgy_Embeds_Model_Token</backend_model>
                        </token>
                    </fields>
                </delete_token>
                <test_page>
                    <label>Preview</label>
                    <frontend_type>post</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <token translate="label">
                            <frontend_type>text</frontend_type>
                            <frontend_model>Splurgy_Embeds_Block_PreviewPage</frontend_model>
                            <comment><![CDATA[
                            The Splurgy Tab at the top will allow you to control your offer on both the checkout and product page.
                            ]]></comment>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </token>
                    </fields>
                </test_page>
           </groups>
        </embeds_options>
    </sections>
    
</config>