<config>    
    <modules>
        <Magentotutorial_Helloworld>
            <version>0.1.0</version>
        </Magentotutorial_Helloworld>
    </modules>
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Magentotutorial_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>  
    </frontend>
    <global>
        <helpers>
            <helloworld>
                <class>Magentotutorial_Helloworld_Helper</class>
            </helloworld>
        </helpers>
    </global>   
    <admin>
        <routers>
            <the_name_of_this_element_is_not_important_it_should_be_unique>
                <use>admin</use>
                <args>
                    <module>Magentotutorial_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </the_name_of_this_element_is_not_important_it_should_be_unique>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <splurgy translate="title" module="helloworld">
                <title>Splurgy</title> 
                <sort_order>9999</sort_order>
                <children>
                    <settings module="helloworld">
                        <title>Settings</title> 
                        <action>helloworld/index/settings</action>
                    </settings>
                </children>
                <children>
                    <another_menu_from_us>
                        <title>Here Too!</title> 
                        <action>helloworld/index/index</action>
                    </another_menu_from_us>
                </children>
            </splurgy>
        </menu> 
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <helloworld_options>
                                            <title>Store Hello World Module Section</title>
                                        </helloworld_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>